@page "/"
@using Domain.Entities;
@using Helpers;
@using Microsoft.AspNetCore.Components.Forms;

@code{
    [Inject]
    private ApiCalls test{get; set;}
    private List<TodoItem> todoItems = new();

    public TodoItem NewTodo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UpdateTodoList();
        NewTodo ??= new("","");
    }

    private async void UpdateTodoList(){

        todoItems = await test.GetTodoItems();
        StateHasChanged();
    }

    private void Submit()
    {
        Console.WriteLine();
    }

}
<div id="app">

<h1>Todo App</h1>

<form method="post" @onsubmit="Submit" >
    <InputText @bind-Value="NewTodo.Title"></InputText>

    <InputText @bind-Value="NewTodo.Description"></InputText>
    <button type="submit">Create new</button>
</form>

<ul>

    @foreach (var todoItem in todoItems)
    {
        <li>
            <h2>@todoItem.Title</h2>
            <p>@todoItem.Description</p>
        </li>
    }
</ul>


</div>
