@page "/"
@using Domain.Entities;

@{
    List<TodoItem> localItems = new()
    {
    new TodoItem("laundry","do the laundry"),
    new TodoItem("dishwasher","clear the dishwasher")
    };
}
<div id="app">

<h1>Todo App</h1>


<ul>

    @foreach (var todoItem in localItems)
    {
        <li>
            <h2>@todoItem.Title</h2>
            <p>@todoItem.Description</p>
        </li>
    }
</ul>


</div>
