@page "/"
@using Domain.Entities;
@using Helpers;

@code{
    [Inject]
    private ApiCalls test{get; set;}
    private List<TodoItem> todoItems = new();

    protected override async Task OnInitializedAsync()
    {
        UpdateTodoList();
    }

    private async void UpdateTodoList(){

        todoItems = await test.GetTodoItems();
        StateHasChanged();
    }
}
<div id="app">

<h1>Todo App</h1>


<ul>

    @foreach (var todoItem in todoItems)
    {
        <li>
            <h2>@todoItem.Title</h2>
            <p>@todoItem.Description</p>
        </li>
    }
</ul>


</div>
