#app{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding-left:10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
}


/*form*/

::deep form{
    display: flex;
    flex-direction:column;
}

::deep input{
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    padding-left:12px;
    border: 2px solid gray;
}

::deep textarea{
    border-top:none;
}

